/* .container
{
    padding-top: 2rem;
}

.np-container
{
    background-color: var(--paper-color);
    padding: 1rem 2rem;
}

.cell
{
    border: 2px solid var(--border-color);
    margin: -2px -2px;
} */